@*@model List<ADYS.Models.User>*@
@model List<MyApiProject.DTOs.StudentSelectCoursesDto>


<div class="col-12">
    <div class="card glass-card ">
        <div class="card-header text-white">

            <h4>Ders Seçimi yapan Öğrenciler</h4>

        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table id="advisorStudentsSelectedCourse" class="display custom-datatable">
                    <thead>
                        <tr>
                            <th>Ad Soyad</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in Model)
                        {
                            <tr>
                                <td>@student.StudentName</td>
                                <td>
                                    @Html.ActionLink("Dersleri İncele", "Review", "Advisor", new { studentId = student.StudentId }, new { @class = "btn btn-info btn-sm" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        window.addEventListener("pageshow", function (event) {
            if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
                window.location.reload();
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#advisorStudentsSelectedCourse').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                language: {
                    "url": "/Scripts/i18n/tr.json"
                }
            });
        });
    </script>
}
